---
// src/components/ContactSection.astro
import Container from "../../../components/Container.astro";
import { getTranslations, type ContactType } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const { lang } = Astro.params;
const t = getTranslations(lang as "en" | "es" ?? "es");

const contact: ContactType = t.contact as ContactType;

---
<Layout t={t} lang={lang}>
<div class="relative py-16 md:py-24" id="contact">
    <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-accent-gradient-stop dark:from-primary-gradient-start-dark"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-secondary-gradient-start to-secondary-gradient-stop dark:to-secondary-gradient-stop-dark"></div>
    </div>

    <Container>
        <div class="relative mt-12">
            <div class="lg:w-2/3 text-center mx-auto mb-12">
                <h2 class="text-4xl font-bold text-text-stronger dark:text-text-default-dark md:text-5xl">
                    {contact.title}
                </h2>
                <p class="mt-4 text-xl text-text-muted dark:text-text-muted-dark">
                    {contact.subtitle}
                </p>
            </div>

            <div class="grid md:grid-cols-2 gap-12 items-start">
                <div class="space-y-8 mt-4">
                    <div class="flex items-start gap-4">
                        <div class="mt-1 flex h-10 w-10 items-center justify-center rounded-full bg-primary-softest dark:bg-bg-emphasis-soft-dark">
                            <svg class="h-6 w-6 text-primary dark:text-primary-dark" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-text-strong dark:text-text-default-dark">{contact.info.email.title}</h3>
                            <p class="text-text-muted dark:text-text-muted-dark mt-1">{contact.info.email.description}</p>
                            <a href="mailto:josejavier@sanahuja.dev" class="mt-2 inline-block font-semibold text-primary dark:text-primary-dark hover:underline">josejavier@sanahuja.dev</a>
                        </div>
                    </div>
                    {/*
                    <div class="flex items-start gap-4">
                        <div class="mt-1 flex h-10 w-10 items-center justify-center rounded-full bg-primary-softest dark:bg-bg-emphasis-soft-dark">
                             <svg class="h-6 w-6 text-primary dark:text-primary-dark" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-text-strong dark:text-text-default-dark">{contact.info.meeting.title}</h3>
                            <p class="text-text-muted dark:text-text-muted-dark mt-1">{contact.info.meeting.description}</p>
                            <a href="#" class="mt-2 inline-block font-semibold text-primary dark:text-primary-dark hover:underline">{contact.info.meeting.cta}</a>
                        </div>
                    </div>
                    */}
                    <div class="flex items-start gap-4">
                        <div class="mt-1 flex h-10 w-10 items-center justify-center rounded-full bg-primary-softest dark:bg-bg-emphasis-soft-dark">
                            <svg class="h-6 w-6 text-primary" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M16.75 13.96c-.25-.13-1.47-.72-1.7-.81-.23-.09-.39-.13-.56.13-.16.26-.64.81-.79.98-.14.16-.29.18-.54.06-.25-.12-1.06-.39-2.02-1.25-.75-.67-1.25-1.5-1.4-1.75-.14-.25-.02-.38.12-.51.12-.11.26-.29.39-.43.13-.14.16-.25.25-.41.09-.17.04-.31-.02-.43-.06-.12-.56-1.34-.76-1.84-.2-.48-.4-.42-.55-.42-.14,0-.3,0-.46,0-.16,0-.41.06-.62.31-.21.25-.81.79-.81,1.93,0,1.14.83,2.24.94,2.4.12.16,1.58,2.42,3.83,3.39.54.23.97.36,1.31.47.64.2,1.22.16,1.69.1.5-.06,1.47-.6,1.67-1.18.21-.58.21-1.08.14-1.18-.05-.1-.2-.16-.44-.29z"/>
                                <path fill="currentColor" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.5a8.5,8.5,0,1,1,8.5-8.5A8.5,8.5,0,0,1,12,20.5Z"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-text-strong dark:text-text-default-dark">{contact.info.whatsapp.title}</h3>
                            <p class="text-text-muted dark:text-text-muted-dark mt-1">{contact.info.whatsapp.description1}</p>
                            <p class="text-text-muted dark:text-text-muted-dark mt-1">{contact.info.whatsapp.description2}</p>
                            <p class="text-text-muted dark:text-text-muted-dark mt-1">+34 123 456 789</p>
                            <a href="https://wa.me/34123456789" target="_blank" rel="noopener noreferrer" class="mt-2 inline-block font-semibold text-primary dark:text-primary-dark hover:underline">{contact.info.whatsapp.cta}</a>
                        </div>
                    </div>
                </div>

                <form class="p-8 rounded-3xl bg-bg-surface border border-border-default dark:shadow-none dark:border-border-default-dark dark:bg-bg-surface-dark bg-opacity-50 shadow-2xl shadow-shadow-default space-y-6">
                    <div>
                        <label for="name" class="font-medium text-text-strong dark:text-text-default-dark">{contact.form.name}</label>
                        <input 
                            type="text" 
                            id="name" 
                            name="name" 
                            required 
                            class="mt-2 w-full px-4 py-3 rounded-lg bg-transparent border border-border-default dark:border-border-default-dark focus:ring-1 focus:ring-primary dark:focus:ring-primary-dark focus:border-primary dark:focus:border-primary-dark transition text-text-default dark:text-text-default-dark">
                    </div>
                    <div>
                        <label for="email" class="font-medium text-text-strong dark:text-text-default-dark">{contact.form.email}</label>
                        <input 
                            type="email" 
                            id="email" 
                            name="email" 
                            required 
                            class="mt-2 w-full px-4 py-3 rounded-lg bg-transparent border border-border-default dark:border-border-default-dark focus:ring-1 focus:ring-primary dark:focus:ring-primary-dark focus:border-primary dark:focus:border-primary-dark transition text-text-default dark:text-text-default-dark">
                    </div>
                    <div>
                        <label for="message" class="font-medium text-text-strong dark:text-text-default-dark">{contact.form.message}</label>
                        <textarea 
                            id="message" 
                            name="message" 
                            rows="4" 
                            required 
                            class="mt-2 w-full px-4 py-3 rounded-lg bg-transparent border border-border-default dark:border-border-default-dark focus:ring-1 focus:ring-primary dark:focus:ring-primary-dark focus:border-primary dark:focus:border-primary-dark transition text-text-default dark:text-text-default-dark"></textarea>
                    </div>
                    <button type="submit" class="relative cursor-pointer flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                        <span class="relative text-base font-semibold text-text-on-primary">
                            {contact.form.submit}
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </Container>
</div>
</Layout>