---
import Layout from '../../../layouts/Layout.astro';
import { getTranslations, type AddOns } from '../../../i18n/utils';
import Container from '../../../components/Container.astro';
import ResponsiveImage from '../../../components/ResponsiveImage.astro';
import ServiceHero from '../../../components/ServiceHero.astro';

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }];
}

const { lang } = Astro.params;
const t = getTranslations(lang as 'en' | 'es');
const addOns = t.addOns as AddOns;
---

<Layout t={t} lang={lang}>
  <main class="space-y-8 mb-40 pt-20">
    <Container>
      <ServiceHero 
        title={addOns.title} 
        description={addOns.introduction} 
        imageName="services-add-ons"
        basePath="sanahujadev" 
        fallbackFormat="jpeg" 
        imageSizes="(max-width: 768px) 100vw, 50vw" 
        imageWidth={720}
      />
      
      <div class="mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {addOns.services.map(service => (
          <div class="flex flex-col p-6 sm:p-8 rounded-3xl bg-bg-surface border border-border-default dark:shadow-none dark:border-border-default-dark dark:bg-bg-surface-dark bg-opacity-50 shadow-2xl shadow-shadow-default">
            <div class="flex-grow">
              <h2 class="text-2xl font-semibold text-text-stronger dark:text-text-default-dark">{service.name}</h2>
              <p class="mt-4 text-text-muted dark:text-text-muted-dark">{service.description}</p>
              <h3 class="mt-6 font-semibold text-text-stronger dark:text-text-default-dark">Servicios Incluidos:</h3>
              <ul class="mt-2 list-disc list-inside space-y-2 text-text-muted dark:text-text-muted-dark">
                {service.includes.map(item => <li>{item}</li>)}
              </ul>
              <p class="mt-4 text-sm text-text-strong dark:text-text-muted-dark"><strong>Ideal para:</strong> {service.ideal_for}</p>
            </div>
            <div class="mt-6 text-right">
              <span class="text-3xl font-bold text-primary dark:text-primary-dark">{service.price}</span>
            </div>
          </div>
        ))}
      </div>
    </Container>
  </main>
</Layout>
