--- 
import { getTranslations, type AnalyticsReportConditions } from '../../../i18n/utils';
import Layout from '../../../layouts/Layout.astro';
import Container from '../../../components/Container.astro';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const t = getTranslations(lang as 'en' | 'es');
const services = t.analyticsReport as AnalyticsReportConditions;
---

<Layout t={t} lang={lang}>
  <main class="mb-40 pt-20">
  <Container>
    <div class="py-20 text-text-strong dark:text-text-default-dark">
      <div class="text-center">
          <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary-gradient-stop dark:from-primary-dark dark:to-secondary-gradient-stop-dark md:text-5xl">
            {services.title}
          </h1>
          <p class="mt-4 text-xl text-text-strong dark:text-text-muted-dark">
            {services.intro.description}
          </p>
      </div>

      <div class="mt-12">
        <h2 class="text-2xl font-bold">{services.what_is_it.title}</h2>
        <p class="mt-4">{services.what_is_it.description}</p>
      </div>

      <div class="mt-12">
        <h2 class="text-2xl font-bold">{services.included.title}</h2>
        <p class="mt-4">{services.included.description}</p>
        <ul class="mt-4 list-disc list-outside pl-5 space-y-2">
          {services.included.items.map(item => (
            <li>
              <strong>{item.title}:</strong> {item.description}
            </li>
          ))}
        </ul>
      </div>

      <div class="mt-12">
        <h2 class="text-2xl font-bold">{services.excluded.title}</h2>
        <p class="mt-4">{services.excluded.description}</p>
        <ul class="mt-4 list-disc list-outside pl-5 space-y-2">
          {services.excluded.items.map(item => (
            <li>{item}</li>
          ))}
        </ul>
      </div>

      <div class="mt-12">
        <h2 class="text-2xl font-bold">{services.pricing.title}</h2>
        <p class="mt-4">{services.pricing.description}</p>
        <ul class="mt-4 list-disc list-outside pl-5 space-y-2">
          {services.pricing.items.map(item => (
            <li class="[text-wrap:balance]">{item}</li>
          ))}
        </ul>
      </div>

    </div>
  </Container>
  </main>
</Layout>