---
interface Props {
  imageName: string | null;
  name: string;
  alt: string;
  class?: string;
}
const { imageName, name, alt, class: className } = Astro.props;
const cdnBaseUrl = 'https://cdn.sanahuja.dev/sanahujadev/';
---

{imageName ? (
  <picture>
    <source srcset={`${cdnBaseUrl}${imageName}/original.webp`} type="image/webp" />
    <img
      class:list={["w-12 h-12 rounded-full object-cover", className]}
      src={`${cdnBaseUrl}${imageName}/jpeg/${imageName}-360w.jpeg`}
      alt={alt}
      width="48"
      height="48"
      loading="lazy"
    />
  </picture>
) : (
  <div class:list={["w-12 h-12 rounded-full bg-bg-accent-soft flex items-center justify-center text-text-accent-strong font-bold text-xl", className]}>
    <span>{name.charAt(0).toUpperCase()}</span>
  </div>
)}
