---
import { AstroFont } from 'astro-font';
import { ClientRouter } from "astro:transitions";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "./../global.css"

const { t, lang } = Astro.props;
const common = t.common;
---

<!DOCTYPE html>
<html lang={common.lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content={common.meta.description} />
        <title>{common.meta.title}</title>

        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
        <ClientRouter />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.12.2/build/css/intlTelInput.css">
    </head>
    <body class="bg-bg-canvas dark:bg-bg-canvas-dark">
        <AppHeader t={common} lang={lang} />
        <slot />
        <AppFooter t={t.footer} />
    </body>
</html>
